{% extends 'admin_base.html' %}
{% block main  %}

<div class="card shadow mt-2">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Add Animal</h5>
        <div class="container-fluid">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Animal Name</label>
                            <input type="text" name="AnimalName" placeholder="Enter Animal Name" class="form-control"
                                   required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Animal Image</label>
                            <input type="file" name="AnimalImage" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Cage Number</label>
                            <input type="text" name="CageNumber" placeholder="Enter Cage number" class="form-control"
                                   required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Feed Number</label>
                            <input type="text" name="FeedNumber" placeholder="Enter Feed Number" class="form-control"
                                   required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Breed</label>
                            <input type="text" name="Breed" placeholder="Enter Breed" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="Description" placeholder="Enter Description Here" class="form-control" required></textarea>
                        </div>
                    </div>
                    <hr>
                    <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

{% if error ==  "no" %}
<script>
    alert('New Animal Added Successfully');
    window.location=('{% url 'manage_Animal' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endif %}


{% endblock %}